.RouteDetail-main{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
}

.RouteDetail-container{
    display: flex;
    justify-content: center;
}

.RouteDetails-list{
    list-style: none;
    max-height:100px ;
    overflow-y: scroll;
}

ul:nth-child(1) li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.RouteDetails-list li{
    padding-right: 1em;
}