.RouteDetails-list{
    list-style: none;
    max-height:100px ;
    overflow-y: scroll;
}

/* .RouteDetails-list::-webkit-scrollbar {
    width: 12px;
}

.RouteDetails-list::-webkit-scrollbar-thumb {
    background-color: #49bbe1; 
}

.RouteDetails-list::-webkit-scrollbar-track {
    background-color: #9bd8ed;  
}

.RouteDetails-list::-webkit-scrollbar-button {
    background-color: aqua;  
} */

.RouteDetails-list li{
    padding-right: 1em;
}