.Login-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.Login-main div{
    border: 1px solid black;
}

.Login-main h2{
    background-color: papayawhip;
    border-bottom: solid 1px black;
    padding: 1rem;
}

.Login-form{
    width:400px ;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;    
}

.Login-form input{
    width: 100%;
    font-family: inherit;
    font-size: 1.3rem;
    padding: 0.5em;
    margin-bottom: 1em;
}