.AddBus-main{
    display: flex;
    justify-content: center;
    background-color: #F2FCFF;
}

.AddBus-form{
    width: 700px;
    padding: 1rem;
}

.AddBus-form input{
    font-family: inherit;
    width: 100%;
    font-size: 1.3rem;
    padding: 0.5em;
    display: block;
    margin-bottom: 1rem;
}